:root {

    /* Font-family */
    --primary-font: 'Raleway', sans-serif;
    --secondary-font: 'Roboto', sans-serif;

    /* Colors */
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --navyblue: #2E2F42;
    --green: #31D0AA;
    --slate: #434455;
    --lightslate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --navyblue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.70);
    --white: #ffffff;
    --dairy: #FCFCFC;
}

/**
  |============================
  | Base styles
  |============================
*/

body {
    font-family: 'Roboto', sans-serif;
    color: var(--slate);
    background-color: var(--white);
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;
}

/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

/* приховані заголовки */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Гумові картинки */
img {
    display: block;
    max-width: 100%;
    height: auto;

    /* Alternative */
    /* display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; */
}

/* Phone screens */
.container {
    min-width: 320px;
    max-width: 428px;
    padding: 0 16px;
    margin: 0 auto;
}

/* Tablet screens */
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

/* Desktop screens */
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/* cекції */
.section {
    padding: 96px 0;
}

@media screen and (min-width: 1158px) {
    .section {
        padding: 120px 0;
    }
}

address {
    font-style: normal;
}

.hide {
    display: none !important;
}

/**
  |============================
  | Base styles Finish
  |============================
*/


/**
  |============================
  | Main Content: Page Studio
  |============================
*/

/* SECTION ONE (HERO)  */

/* Phone screens */
.section-effective {
    max-width: 428px;
    padding: 112px 0;
    margin: 0 auto;
    text-align: center;

    /* Малюнок фону main*/
    background-color: var(--navyblue);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(../images/Hero/Hero_bg_mob@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Малюнок фону main 2x*/
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .section-effective {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/Hero/Hero_bg_mob@2x.jpg);

    }
}

.main-title {
    max-width: 320px;
    margin: 0 auto 72px;

    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--white);
    font-weight: 700;
}

.button {
    font-family: "Roboto", sans-serif;
    color: var(--white);
    background-color: var(--iris);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    background-color: var(--ocean);
}

/* Tablet screens */
@media screen and (min-width:768px) {
    .section-effective {
        max-width: 768px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/Hero/Hero_bg_tab@1x.jpg);
    }

    .main-title {
        max-width: 496px;
        margin: 0 auto 36px;
        font-size: 56px;
        line-height: 1.07;
    }
}

@media only screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero-wrapper {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/Hero/Hero_bg_tab@2x.jpg);

    }
}

/* Desktop screens */
@media screen and (min-width:1158px) {
    .section-effective {
        max-width: 1440px;
        padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/Hero/Hero_bg_desk@1x.jpg);

    }

    .main-title {
        margin: 0 auto 48px;
    }

}

@media only screen and (min-width: 1158px) and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero-wrapper {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/Hero/Hero_bg_desk@2x.jpg);
    }
}

/* SECTION ONE finish */

/* SECTION TWO  */
.section-benefits-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.benefits-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

/* Phone screens */
.benefits-icons-box {
    /* положення іконок і фон */
    display: none;
    width: 264px;
    height: 112px;
    align-items: center;
    justify-content: center;
    background-color: var(--cloud);
    border-radius: 4px;
    margin-bottom: 8px;
}

/* для заголовків тут і секції на сторінці 2 */
.subtitle {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.1111;
    letter-spacing: 0.02em;
    color: var(--navyblue);
    margin-bottom: 8px;
    text-align: center;
}

.benefits-items {

    min-width: 200px;
    align-items: center;
}

/* Tablet screens */
@media (min-width:768px) {
    .subtitle {
        text-align: left;
    }

    .benefits-items {
        flex: 1 1 calc((100% - 24px) / 2);
    }
}

/* Desktop screens */
@media screen and (min-width:1158px) {
    .section-benefits {
        padding-bottom: 0;
    }

    .benefits-icons-box {
        display: flex;
    }

    /* для заголовків тут і секції на сторінці 2 */
    .subtitle {
        font-size: 20px;
        line-height: 1.2;
    }

    .benefits-items {
        max-width: 264px;
        flex: 1 1 calc((100% - 3 * 24px) / 4);
    }
}

/* SECTION TWO finish  */


/* SECTION THREE */

/* Phone screens */
.section-produce {
    display: none;
}

/* Desktop screens */
@media screen and (min-width:1158px) {


    .section-produce {
        display: block;
    }

    .section-produce-list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }

    .section-produce-list-item {
        width: calc((100% - 48px) / 3);
    }

    /* заголовок до третьої та четвертої секції */
    .heading-produce-team {
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--navyblue);
        margin-bottom: 72px;
    }

}

/* SECTION THREE finish */


/* SECTION FOUR */
/* Phone screens */
.section-team {
    background-color: var(--cloud);
}

.heading-produce-team {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navyblue);
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 72px;
}

.team-list-item {
    background-color: var(--white);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;

}

.team-container {
    padding: 32px 0;
}

.name-titlle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navyblue);
    margin-bottom: 8px;
    text-align: center;
}

.team-box-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
    text-align: center;
}



/* Tablet screens */
@media (min-width:768px) {
    .team-list {
        row-gap: 64px;
        column-gap: 24px;
    }
}



/* Desktop screens */
@media screen and (min-width:1158px) {


    .team-list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }

    .team-list-item {
        width: calc((100% - 72px) / 4);
    }
}

/* SECTION FOUR finish*/



/* SECTION FIVE */
/* Phone screens */
.section-customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: var(--lightslate);
    row-gap: 72px;
    column-gap: 16px;
}

.section-customers-title {
    color: var(--navyblue);
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.section-customers-link {
    display: flex;
    width: 168px;
    height: 88px;
    border-radius: 4px;
    border: 1px solid var(--lightslate);
    color: var(--lightslate);
    justify-content: center;
    align-items: center;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.section-customers-link:hover,
.section-customers-link:focus {
    color: var(--ocean);
    border-color: var(--ocean);
}

.section-customers-link:hover {
    color: var(--ocean);
    border-color: var(--ocean);
}

.customers-link-logo {
    fill: rgba(142, 143, 153, 1);
    width: 104px;
    height: 56px;
    flex-shrink: 0;
    fill: currentColor;

}


/* Tablet screens */
@media (min-width: 768px) {
    .section-customers-list {
        gap: 72px 24px;
    }
}

/* Desktop screens */
@media (min-width: 1158px) {
    .section-customers-list {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .section-customers-items {
        width: calc((100% - 120px) / 6);
    }

    .section-customers-link {
        width: 100%;
    }

}



/* .section-customers {
    padding: 120px 0 120px;
} */



/* .section-customers-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 120px;
    color: var(--lightslate);
} */




/* header */

.header {
    border-bottom: 1px solid var(--cornflower);
    height: 72px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-box {
    display: flex;
    justify-content: space-between;
}

.nav {
    display: flex;
    font-family: "Roboto";
    align-items: center;
    padding: 25px 0 25px 0;

}

@media screen and (max-width:767.98px) {
    .nav {
        padding-top: 26px;
        padding-bottom: 24px;

    }
}


.logo {
    color: var(--iris);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.studio-header {
    color: var(--navyblue);
}

.nav-list {
    display: flex;
    gap: 40px;
}

@media screen and (max-width:767.98px) {
    .nav-list {
        display: none;
    }
}


.nav-list-item {
    color: var(--navyblue);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.nav-list-item:hover,
.nav-list-item:focus {
    color: var(--ocean);
}



.address {
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.32px;
    padding: 25px 0 25px 0;
}

.address-list {
    display: flex;
    gap: 40px;
}

@media screen and (max-width:767.98px) {
    .address-list {
        display: none;
    }
}

.address-list-item {
    color: var(--slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-item:hover,
.address-list-item:focus {
    color: var(--ocean);
}






@media (min-width: 768px) {
    .header-box {
        display: flex;
        align-items: center;
        height: 72px;
    }

    .nav {
        display: flex;
        margin-right: auto;
        align-items: center;
    }

    .logo {
        margin-right: 120px;
    }


}

@media (min-width: 768px) {
    .link.logo {
        white-space: nowrap;
    }

    .address-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }
}

@media (min-width: 1158px) {
    .address {
        padding: 0;
    }
}

@media (min-width: 1158px) {
    .address-list {
        flex-direction: row;
        gap: 40px;
    }
}

/* header finish*/



/**
  |============================
  | Footer
  |============================
*/
.footer {
    background-color: var(--navyblue);
    padding: 97px 0;
}

.footer-container {}

.footer-logo-box {
    margin-bottom: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-footer {
    color: var(--iris);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    font-style: normal;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.studio-footer {
    color: var(--cloud);
}

.footer-text {
    color: var(--cloud);
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
    font-weight: 400;
    height: 72px;
    max-width: 268px;
    text-align: left;
}

.footer-netvork-icon-box {
    margin-bottom: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social-media {
    color: var(--white);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    display: flex;
}

.footer-social-network-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.social-links-items {
    width: 40px;
    height: 40px;
}

.footer-social-links {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-links:hover,
.footer-social-links:focus {
    background-color: var(--green);
}

.social-icons-fotter {
    fill: var(--cloud);
}

/* footer form */


.footer-form-box-text {
    color: var(--white);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: center;
}



.form-input {
    width: 100%;
    height: 40px;

    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;

    color: var(--white);
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid var(--white, #FFF);
    opacity: 0.3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

}

.form-input::placeholder {
    color: var(--white);
}

.footer-form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 40px;
    margin: 0 auto;
    padding: 8px 24px;

    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);


    border-radius: 4px;
    background: var(--iris, #4D5AE5);

    cursor: pointer;
    border: none;

    margin-top: 16px;
}

.footer-form-button:hover,
.footer-form-button:focus {
    background-color: var(--ocean);
}

.footer-form-icon {
    fill: var(--white);
    margin-left: 16px;
}


@media screen and (min-width: 768px) {
    .footer-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 584px;
        column-gap: 24px;
        max-width: 584px;
    }

    .footer-logo-box {
        align-items: normal;
    }

    .footer-text {
        max-width: 264px;
    }

    .footer-netvork-icon-box {
        justify-content: normal;
        align-items: normal;
    }

    .footer-social-network-list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }

    .footer-form {
        display: flex;
        align-items: baseline;
        flex-direction: row;
        gap: 24px;
    }

    .footer-form-box-text {
        text-align: left;
    }

    .form-input {
        width: 264px;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1158px) {
    .footer {
        padding: 100px 0;
    }

    .footer-container {
        display: flex;
        flex-wrap: nowrap;
        align-items: baseline;
        max-width: 1158px;
        column-gap: 0;
        row-gap: 0;
    }

    .footer-logo-box {
        margin-right: 120px;
        margin-bottom: 0;
    }

    .footer-text {
        max-width: 268px;
        text-align: none;
    }

    .footer-social-network-list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }

    .footer-netvork-icon-box {
        margin-right: 80px;
        margin-bottom: 0;
    }

    .footer-form {
        align-items: baseline;
        flex-direction: row;
        gap: 24px;
    }

    .form-input {
        border-radius: 4px;
        border: 1px solid var(--white);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    }

    .form-input::placeholder {
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .footer-form-button {
        margin-top: 0;
    }


}

/* FOOTER finish*/


/* portfolio page */

.filter-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--iris);
    background-color: var(--cloud);
    cursor: pointer;
    padding: 12px 24px;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.filter-btn:hover,
.filter-btn:focus {
    background-color: var(--ocean);
    color: var(--white);
    cursor: pointer;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    ;
}

.filter-btn {
    border: 1px solid var(--cornflower);

}

.btn-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
    margin-top: 96px;
}

.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
    font-weight: 400;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    margin: 0;
    padding: 0;
}

.card-items {
    width: calc((100% - 48px) / 3);
}

.card-wrapper {
    border: 1px solid var(--border);
    padding: 32px 16px;
    border-top: none;
    border: 1px solid var(--cornflower);

}

.section-main {
    padding: 96px 0 120px 0;
}

.card-wrapper {
    border-top: none;
}

.card-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.card-link:hover,
.card-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* Overlay */
.overlay-box {
    position: relative;
    overflow: hidden;
}

.overlay-text {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    transform: translateY(100%);

    /* style */
    color: var(--cloud);
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    background-color: var(--iris);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-link:hover .overlay-text,
.card-link:focus .overlay-text {
    /* рух при наведенні */
    transform: translateY(0%);
}





.social-network-icons {
    /* самі іконки */
    fill: var(--cloud);
}


.social-network-list {
    /* список */
    display: flex;
    gap: 24px;
    margin-top: 8px;
    justify-content: center;

}

.social-network-links {
    /* посилання */
    align-items: center;
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--iris);
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network-links:hover,
.social-network-links:focus {
    background-color: var(--ocean);
}



/* псевдоелемент та підсвітка */
.nav-list-item {
    position: relative;
}

.nav-list-item::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
}

.nav-list-item.current::after {
    background-color: var(--ocean);
}

.nav-list-item.current {
    color: var(--ocean);
}





/**
|============================
| MODAL WINDOW
|============================
*/

.backdrop {
    /* div всього модального вікна */
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    /* відкриття/закриття модального вікна */
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translateX(-50%) translateY(-70%);
    opacity: 0;
}


.modal {
    /* div що являється модальним вікном */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: calc(100%-36px);
    max-width: 408px;
    min-height: 584px;
    border-radius: 4px;
    background: var(--dairy);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    opacity: 1;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 24px;
    padding: 72px 24px 24px 24px;
}





.modal-btn {
    /* кнопка закриття вікна */
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0;
    background-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

/* стани кнопки */
.modal-btn:hover {
    border: none;
    background-color: #404bbf;
    fill: var(--white);
}

.modal-btn:focus {
    background-color: #404bbf;
    border: none;
    fill: var(--white);
}

.modal-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* modal content */
.form-box {
    /*div всієї форми */
    margin-bottom: 8px;
}

.modal-caption {
    /* текст над формою */
    display: block;
    width: 360px;
    margin-bottom: 16px;

    text-align: center;
    color: var(--navyblue);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.modal-form-label {
    /* label */
    display: block;
    margin-bottom: 4px;

    color: var(--lightslate);
    font-family: Roboto;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.modal-form-field {
    /* div input+svg */
    position: relative;
    margin-bottom: 8px;
}

.modal-form-input {
    /* input */
    width: 100%;
    padding: 8px 16px;
    height: 40px;
    outline: transparent;
    background-color: transparent;
    border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.40));
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
    border-color: #4D5AE5;
}


.modal-form-icon {
    /* svg в input */
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-form-input {
    padding-left: 38px;
}

.modal-form-input:focus+.modal-form-icon {
    fill: var(--iris);
}

.modal-for-comment {
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    margin-bottom: 16px;
    border-radius: 4px;
    border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.40));
    resize: none;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--navyblue-modal, rgba(46, 47, 66, 0.40));
    font-family: Roboto;
}

.modal-for-comment:focus {
    border-color: #4D5AE5;
}

.modal-for-comment::placeholder {
    color: var(--navyblue-modal, rgba(46, 47, 66, 0.40));


}

.modal-form-agreement {
    color: var(--lightslate);
    font-family: Roboto;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: block;
}

.modal-form-link {
    color: var(--iris);
}



.modal-form-desc {
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}



.modal-form-btm {
    display: block;
    min-width: 169px;
    font-family: "Roboto", sans-serif;
    height: 56px;
    margin-top: 24px;
    border-radius: 4px;
    padding: 16px 32px;
    background: var(--iris, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--white, #FFF);
    text-align: center;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    border: none;
    margin: 0 auto;
}


.comment-label-form {
    margin-bottom: 16px;
}

.checkbox-modal-form {
    margin-bottom: 24px;
}

.checkbox-form-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;

    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.checkbox:checked+.modal-form-agreement .checkbox-form-icon {
    /* стан чекбоксу */
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}



/**
|============================
| MODAL WINDOW finish
|============================
*/





/**
  |============================
  | mobile menu
  |============================
*/


.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 40px;
    padding-top: 80px;
    background-color: var(--white);
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.mobile-icon-burg {
    stroke: var(--navyblue);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 24px;
    right: 24px;
}

.menu-toggle {
    /* кнопка бургер */
    min-height: 22px;
    min-width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}

@media only screen and (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
}


.mob-btn {
    /* кнопка закриття */
    display: flex;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;

    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.mob-icon {
    fill: var(--navyblue);
}


.mobile-menu {
    margin-bottom: auto;
}

.mobile-menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.mobile-menu .link {
    /* посилання Studio,Portfolio,Contacts */
    display: block;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.111;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navyblue, #2E2F42);
}


.mobile-menu-link:hover,
.mobile-menu-link:focus,
.mobile-menu-link.current {
    color: var(--ocean);
}

/* for mobile and tablet screen */
.mobile-menu-link:active {
    color: var(--ocean);
}

@media(hover: hover) {

    .mobile-menu-link:hover,
    .mobile-menu-link:focus {
        color: var(--ocean)
    }
}

.address-mobile-list {
    margin-bottom: 48px;
}

.address-mobile {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.tel-mob {
    color: var(--iris);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02;
}

@media (max-width: 432px) {
    .tel-mob {
        font-size: 20px;
    }
}


.link-mob {
    color: var(--slate);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02;
}



.mobile-network-list {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}